body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#login-container, #game-container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
